* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* classi generali */
.text_uppercase {
  text-transform: uppercase;
}

.text_center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}

.wrapper {
  background-color: #ca6048;
}
